*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat Alternates', sans-serif;
}
.hamburger-menu,.menu{
  display: none;
}
.topnavbarparent{
  display: flex;
  /* margin-left: 7vh;
  margin-right: 7vh; */
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
  /* gap: 15px; */
}
.topnavbarparentimg{
  display: flex;
  gap: 5vh;
}
a{
  text-decoration: none;
}
.navlink{
  display: flex;
  height: 7vh;
  background: #ae1819;
  border-bottom: 3px solid #610d1a;align-items: center;
  /* text-align: center; */
  align-items: center;
  justify-content: space-around;
}
.navlink1{
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  background: #3e3b3b;
  gap: 10vh;
  align-items: center;

}
.navtext{
  color: white;
  border-right: 1px solid black;
  height: 6.5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 39vh;
  font-weight: 500;
}
.navtext2{
  color: white;
  border-right: 1px solid rgba(251, 248, 248, 0.975);
  padding: 1vh;
  /* height: 6vh; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-around; */
  /* width: 35vh; */
  text-align: center;
  /* font-weight: 900; */
}
.navtext:hover{
  background-color: #fff;
  color: #ae1819;
}
.homemainimage{
  width: 100%;
  object-fit: cover;
}
.tripadvisior{
  position: relative;
  z-index: 1;
}
.maincontent{
  /* width: 90%; */
  padding: 1vh 10vh;

}
.headingtext{
  text-align: center;
  border-bottom: 1px dotted;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
p {
  margin: 0 0 10px;
  text-align: justify;
  font-size: 15px;
  padding: 5px;
  line-height: 1.7;
}
b {
  font-weight: 500;
  line-height: 1.1;
  color: #AC1819;
  font-size: 18px;
}
.family-tours {
  float: left;
  width: 100%;
  padding-bottom: 0px;
}
.tourpackage{
  display: flex;
  width: 100%;
  /* height: 61vh; */
}
.tourpackage div{
  width: 55vh;
  height: 40vh;
  margin: 2vh;
  background: #FAF7F7;
  padding-bottom: 20px;
  margin-bottom: 15px;
  box-shadow: 1px 0 6px rgba(0,0,0,.2);
  padding: 3px;
}
.tourpackage div img{
  width: 100%;
}
.tourpackage div:hover{
  box-shadow: 5px 5px 5px rgba(0,0,0,.2);
  cursor: pointer;
}
.tourpackage div p{
  text-align: center;

}
.tourpackageh2{
  display: flex;
}
.tourpackageh2 > div{
  width: 50vh;
  margin: 2vh;
  background: #FAF7F7;
  padding-bottom: 20px;
  margin-bottom: 15px;
  box-shadow: 1px 0 6px rgba(0,0,0,.2);
  padding: 3px;
}
.tourpackageh2 img{
  width: 100%;
}
.tourpackageh2 > div:hover{
  box-shadow: 5px 5px 5px rgba(0,0,0,.2);
  cursor: pointer;
}
.tourpackageh2 > div div{
  text-align: center;
}
.tourpackageh2 > div p{
  text-align: center;
}
.footerparent{
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(234, 231, 231);
}
.footerheading{
  font-size: larger;
  font-weight: 900;
  color: #bf000c;
}
.icon2{
  height: 5vh;
  width: 5vh;
  color: rgb(19, 182, 247);
}
.addressfooter1{
  color: #bf000c;
}
#socialicons{
  display: flex;
  gap: 3vh;
}
.indiatourismhi{
  width: 100%;
  height: 50vh;
}
.indiatourism,.tourpackagecmp{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3vh;
}
.indiatourism div{
  width: 49vh;
  height: 45vh;
  padding-bottom: 20px;
  margin-bottom: 15px;
  box-shadow: 1px 0 6px rgba(0,0,0,.2);
  padding: 3px;
}
.indiatourism img{
  width: 100%;
  height: 80%;
}
.indiatourism div p{
  text-align: center;

}
.indiatourism div:hover{
  box-shadow: 5px 5px 5px rgba(0,0,0,.2);
  cursor: pointer;
}

/* tour package  */
.tourpackagecmp div{
  width: 49vh;
  height: 45vh;
  /* padding-bottom: 20px; */
  margin-bottom: 15px;
  box-shadow: 1px 0 6px rgba(0,0,0,.2);
  padding: 3px;
}
.tourpackagecmp div img{
  width: 100%;
  height: 85%;
}
.tourpackagecmp div p{
 text-align: center;
}
.tourpackagecmp div:hover{
  box-shadow: 5px 5px 5px rgba(0,0,0,.2);
  cursor: pointer;
}
.placevisitmainimage{
  height: 59vh;
  width: 229vh;
}
li{
  list-style-type: none;
  border-bottom: 1px dotted;
  padding: 2px 5px;
  /* padding-right: 5px; */
}
.greaterthensymbol{
  /* height: 2vh; */
  width: 1vh;
}
.placetovisitcontent{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3vh;
}
.placetovisitcontent div{
  width: 49vh;
  height: 69vh;
  padding-bottom: 20px;
  margin-bottom: 15px;
  box-shadow: 1px 0 6px rgba(0,0,0,.2);
  padding: 3px;
  background-color: rgb(247, 243, 243);
}
.placetovisitcontent div h3{
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #bf000c;
}
.placetovisitcontent div img{
  width: 100%;
  height: 40vh;
}
.placetovisitcontent div:hover{
  box-shadow: 5px 5px 5px rgba(0,0,0,.2);
  cursor: pointer;
}
.touroffermainimage{
  width: 229vh;
  height: 65vh;
}
.touroffers{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3vh;
}
.touroffers div{
  width: 49vh;
  height: 49vh;
  padding-bottom: 20px;
  margin-bottom: 15px;
  box-shadow: 1px 0 6px rgba(0,0,0,.2);
  padding: 3px;
  background-color: rgb(247, 243, 243);
}
.touroffers div img{
  width: 100%;
  height: 40vh;
}
.touroffers div p{
  text-align: center;
}
.touroffers div:hover{
  box-shadow: 5px 5px 5px rgba(0,0,0,.2);
  cursor: pointer;
}



/* contactus */

.contactusoffice{
  display: flex;
  gap: 3vh;
}
.contactusoffice div > div{
  /* background-color: #bf000c; */
  /* color: white; */
  font-size: large;
  font-weight: 500;
}
.contactusdetails{
  display: flex;
  justify-content: space-between;
}
.paypalimg{
  width: 50vh;
  height: 30vh;
}
.followustext{
  font-size: larger;
  font-weight: 500;
}
.tourism{
  font-size: larger;
  font-weight: 500;
}
.showbutton{
  position: absolute;
  display: flex;
  flex-direction: column;
}
.loginregisterbutton{
  height: 5vh;
  width: 15vh;
}

/* register  */
.registerdetails{
  display: flex;
  justify-content: center;
  align-items: center;
}
.userdetails{
  font-size: larger;
  font-weight: 900;
}
input{
  border-radius: 5px;
  height: 5vh;
  border: none;
}
.submit{
  width: 20vh;
  height: 5vh;
  /* border-radius: 10px; */
  /* background-image: linear-gradient(145deg, rgb(246, 136, 136), rgb(156, 237, 187), rgb(204, 137, 240)); */
  /* border: none; */
}
.childregister{
  /* box-shadow: 0px 0px 8px blue; */
  box-shadow: 0px 0px 8px #27cff1;
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 65vh;
  width: 65vh;
  text-align: center;
  line-height: 9vh;
  border-radius: 10px;
  background-image: linear-gradient(145deg, rgb(172, 234, 243), rgb(237, 156, 229), rgb(224, 240, 137));  /* rgb(137, 240, 173) rgb(224, 240, 137)) */
}
.account{
  color: white;
  cursor: pointer;
}
button{
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-image: linear-gradient(145deg, rgb(172, 234, 243), rgb(237, 156, 229), rgb(172, 240, 196));  
}
.dynmimgcontent{
  height: 90vh;
  width: 100%;
  object-fit: cover;
}
.dynmtourpkg div{
  height: 49vh;
}
.dynmtourpkg1 div{
  width: 66vh;
}
.dynmtourpkg div img{
  height: 30vh;
}
.dynmtourpkg div :nth-child(3){
  color: gray;
}



/* mediaquery  */


@media screen and (max-width:765px) and (min-width: 373px) {
  .hamburger-menu,.menu{
    display: block;
  }
  .maincontent {
    padding: 1vh 1vh;
  }
  .navlink{
    display: none;
  }
  .topnavbarparent{
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .topnavbarparentimg{
    flex-direction: column;
    width: 100%;
    gap: 3vh;
  }
  .tourpackage{
    flex-direction: column;
  }
  .tourpackageh2{
    flex-direction: column;
  }
  .ftrimg{
    width: 100%;
    padding: 15px;
  }
  .footerparent{
    flex-direction: column;
    justify-content: center;
  }
  p{
    padding: 1vh;
  }
  .tourpackage div{
    margin: 0;
    width: 100%;
    height: 42vh;
  }
  .menu{
    margin-top: 1vh;
  }
  .navtext1 {
    color: white;
    background-color: #fcb8b8;
    height: 6.5vh;
    display: flex;
    font-weight: 500;
    align-items: center;
  }
  .footerchild1,.mainfooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .childregister{
    margin: 3vh;
  }
  .placevisitmainimage,.touroffermainimage {
    width: 100%;
  }
  .placetovisitcontent div{
    height: 62vh;
  }
  .contactusdetails{
    flex-direction: column;
    padding: 3vh;
  }
  .paypalimg {
    width: 33%;
    height: 50%;
}
#socialicons a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}
.contactusoffice{
  flex-direction: column;
}
.headingtext{
  font-size: x-large;
}
/* .svg-inline--fa{
  height: 2em;
} */
.menuicon{
  position: absolute;
  top: 2vh;
  right: 3vh;
  height: 5vh;
}
.navlink1{
  gap: 1vh;
  flex-wrap: wrap;

}

}



/* tab query  */


@media screen and (max-width:1000px) and (min-width: 765px) {
  .hamburger-menu,.menu{
    display: block;
  }
  .maincontent {
    padding: 1vh 1vh;
  }
  .navlink{
    display: none;
  }
  .topnavbarparent{
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .topnavbarparentimg{
    flex-direction: column;
    width: 100%;
    gap: 3vh;
  }
  .tourpackage{
    flex-direction: column;
  }
  .tourpackageh2{
    flex-direction: column;
  }
  .ftrimg{
    width: 100%;
    padding: 15px;
  }
  .footerparent{
    flex-direction: column;
    justify-content: center;
  }
  p{
    padding: 1vh;
    font-size: larger;
  }
  .tourpackage div{
    margin: 0;
    width: 100%;
    height: 55vh;
  }
  .tourpackage div p {
    font-size: x-large;
}
.tourpackageh2 > div {
  width: 95%;
}
.tourpackageh2 > div div {
  font-size: x-large;
}


  /* navbar */


  .menu{
    margin-top: 1vh;
  }



  .navtext1 {
    color: rgb(241, 12, 12);
    background-color: #b8fcc2;
    height: 6.5vh;
    display: flex;
    font-weight: 500;
    align-items: center;
    padding-left: 1vh;
  }
  .navtext1:hover {
    color: rgb(241, 12, 12);
    background-color: #fff;
  }
  .footerchild1,.mainfooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .childregister{
    margin: 3vh;
  }
  .placevisitmainimage,.touroffermainimage {
    width: 100%;
  }
  .placetovisitcontent div{
    /* height: 62vh; */
    height: 54vh;
    
  }
  .contactusdetails{
    flex-direction: column;
    padding: 3vh;
  }
  .paypalimg {
    width: 33%;
    height: 50%;
}
#socialicons a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}
.contactusoffice{
  flex-direction: column;
}
.headingtext{
  font-size: x-large;
}
/* .svg-inline--fa{
  height: 2em;
} */
.menuicon{
  position: absolute;
  top: 2vh;
  right: 3vh;
  height: 5vh;
}
.navlink1{
  gap: 1vh;
  flex-wrap: wrap;

}
.dynmtourpkg div {
  height: 43vh;
  width: 65vh;
}
.touroffers div {
  width: 65vh;
}
.touroffers div p {
  font-size: x-large;
}
.tourism {
  font-size: xx-large;
}
.tourism1 {
  font-size: larger;
}
.followustext {
  font-size: x-large;
}
.contactusoffice div > div {
  font-size: x-large;
}

}